@import "react-alice-carousel/lib/alice-carousel.css";

.carousel-wrapper {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.alice-carousel__stage {
    display: flex
}
.alice-carousel__stage-item {
    flex: 1 0 auto;
}
.item {
    background: #ccc;
    height: 100%;
}