.bg-admin-grey{
    background-color: #ddd;
}

.event-img{
    width:190px;
    height:190px;
    object-fit: cover;
    margin:10px;
    border-radius:10px;
}

.radius-10{
    border-radius:10px;
}

.border-right-dashed{
    border-right:1px dashed #999;
}

.events{
    font-size:14px;
}

.min-width-780{
    min-width: 780px;
}

.description{
    resize:none;
}

.btn-cancel{
    background-color: #dc3545;
    color:#000;
    transition: 0.5s;
}
.btn-cancel:hover{
    color:#fff;
}

.admin-event-check{
    margin-top:38px;
    position: relative;
}

.admin-event-check > input[type="checkbox"]{
    margin:0;
    padding:0;
    height:24px;
    width:24px;
    margin-right: 10px;
    margin-left: 20px;
}

.admin-event-check > label{
    position: absolute;
}
